{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Date and Time</th>
                <th>Buy/Sell</th>
                <th>Stock Name</th>
                <th>Stock Symbol</th>
                <th>Price</th>
                <th>Shares</th>
            </tr>
        </thead>
    {% for transaction in history %}
        <tr>
        <td> {{transaction["datetime"]}}</td>
        <td> {{transaction["buysell"]}} </td>
        <td> {{transaction["stockname"]}} </td>
        <td> {{transaction["stocksymbol"]}} </td>
        <td> {{transaction["stockprice"] | usd}} </td>
        <td> {{transaction["stockshares"]}} </td>
        </tr>
    {% endfor %}
{% endblock %}
