{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Symbol</th>
                <th>Price</th>
                <th>Shares</th>
                <th>Total</th>
            </tr>
        </thead>
    {% for transaction in transactions %}
        <tr>
        <td> {{transaction["stockname"]}} </td>
        <td> {{transaction["stocksymbol"]}}</td>
        <td> {{transaction["stockprice"] | usd}} </td>
        <td> {{transaction["stockshares"]}} </td>
        <td> {{transaction["stocktotal"] | usd}} </td>
        </tr>
    {% endfor %}
    </table>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Grand Total</th>
                <th>Available Cash</th>
                <th>Total Invested</th>
            </tr>
        </thead>
        <tr>
            <td>{{total | usd}}</td>
            <td>{{remainder | usd}}</td>
            <td>{{stocktotal | usd}}</td>
        </tr>
    </table>
{% endblock %}
