{% extends "layout.html" %}

{% block title %}
    Login
{% endblock %}

{% block main %}
    <font color="#007bff"><strong>Welcome to CS50 Stock! Please Login or Register as a new user</strong></font>
    <br><br>
    <form action="/login" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text">
        </div>
        <div class="form-group">
            <input class="form-control" name="password" placeholder="Password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Log In</button>
    </form>
{% endblock %}
